{
    "tabWidth": 4,
    "importOrder": [
        "^@/pages/(.*)$",
        "^@/components/(.*)$",
        "^@/hooks/(.*)$",
        "^@/lib/(.*)$",
        "^@/data/(.*)$",
        "^@/state/(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
